	    	<%include ./partials/header %>

			<div class="body-container">
				<div class="row-title">
					<h1>The Book Singularity</h1>
					<p id="sub-title">A book exchange swap nexus</p>
				</div>
				<div class="row-features">
					<div class="feature"><p>Access the vast catalog of books of the membership!</p></div>
					<div class="feature"><p> Manage book exchanges and your personal book collection!</p></div>
					<div class="feature"><p>Manage your profile settings with our intuitively, user-friendly control panel!</p></div>
				</div>
				<div id="spacing"></div>
			</div> <!-- .body-container -->


			<% include ./partials/footer %>