<% include ./partials/header %>

			<div class="body-container">
				<div class="row-login">
					<h2>Login link en route</h2>
					<div id="container-login">
						<p>Hello. A login link has been sent to your email address which will allow you direct access to your account. You may need to refresh you in-box and/or check your spam folder.</p>
					</div>
				</div>
				<div id="spacing-login"></div>
			</div> <!-- .body-container -->


<% include ./partials/footer %>