.dash-container {
	display:flex;
	flex-direction: column;
}

#book-collection {
	//max-width: 100%;
	//flex: 1;
	//border: 1px solid green;
	margin-top: 25px;
}

#book-coll-hd {
	margin-top: 5px;
	margin-left: 1%;
}

#catalog {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.catalog-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 100%;
	border: .5px solid blue;
	margin: 3px 5px 10px 15px;
	padding: 20px 20px 0 20px;

}

#delete-bx {
	margin-bottom: 5px;
}

.delete-book {
	margin: 5px;
}

.row-features-dash {
	//flex: 1;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-top: 30px;
	margin-right: 10%;
	margin-left: 10%;
	padding: 2px;
	border-radius: 2px;
}

.row-features-requests {
	flex: 1;
	flex-direction: column;
	flex-wrap: wrap;
	border-bottom: 1px solid green;
	margin-top: 25px;
	margin-right: 10%;
	margin-left: 10%;
	padding: 2px;
	border-radius: 2px;
}

#search-label {
	display: block;
	margin-left: 10px;
	font-weight: 600;
	font-size: 23px;
}

#search-box {
	width: 100%;
}
#search-input {
	width: 80%;
}

.table-hd, .table-hd-outgoing {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-grow: 0;
	-webkit-flex-grow: 0;
	/*justify-content: space-between;
	border-bottom: 1px solid green;
	border-top: 1px solid green;
	align-items: stretch;*/
	padding: 2px;
}

.row, .row-outgoing {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-grow: 0;
	-webkit-flex-grow: 0;
	justify-content: space-between;
	padding: 2px;
	margin-top: 5px;
}

.row-cell {
	//width: 200px;
	flex-grow: 1; 
	-webkit-flex-grow: 1;
  	overflow: hidden;
  	white-space: nowrap;
  	text-overflow: ellipsis;
}

.table-hd div:nth-of-type(1) {width: 30%; flex-grow: 3;}
.table-hd div:nth-of-type(2) {width: 15%;}
.table-hd div:nth-of-type(3) {width: 17%;}
.table-hd div:nth-of-type(4) {width: 23%;}

.table-hd-outgoing div:nth-of-type(1) {width: 30%; flex-grow: 3;}
.table-hd-outgoing div:nth-of-type(2) {width: 15%;}
.table-hd-outgoing div:nth-of-type(3) {width: 16%;}
.table-hd-outgoing div:nth-of-type(4) {width: 23%;}

.row div:nth-of-type(1) {width: 35%;}
.row div:nth-of-type(2) {width: 17%;}
.row div:nth-of-type(3) {width: 15%;}
.row div:nth-of-type(4) {width:27.5%;}

.row-outgoing div:nth-of-type(1) {width: 35%;}
.row-outgoing div:nth-of-type(2) {width: 17%;}
.row-outgoing div:nth-of-type(3) {width: 15%;}
.row-outgoing div:nth-of-type(4) {width: 25.5%;}

.delete-req {
	margin-left: 2px;
}

#accept-btn-container {
	display: flex;
	flex-grow: 0;
	justify-content: center;
} 

.accept-btn {
	display: flex;
	justify-content: center;
	flex-grow: 1; 
	-webkit-flex-grow: 1;
  	overflow: hidden;
  	white-space: nowrap;
}

#accept-trade {
	width: 60px;
	background-color: blue;
	font-size: 17px;
	text-align: center;
	color: white;
	padding: 5px 10px 5px 15px;
	border-radius: 5px;
	margin-bottom: 3px;
	margin-right: 15px;
}

#reject-trade {
	width: 60px;
	background-color: red;
	font-size: 17px;
	text-align: center;
	color: white;
	padding: 5px 5px 5px 5px;
	border-radius: 5px;
	margin-bottom: 3px;
	margin-left: 15px;
	//margin-right: 20px;
}

.status-result {
	//width: 60px;
	margin-left: 20px;
}

.row-span {
	display: flex;
}

.book-container {
	display: none;
	background-color: #b6b9fc;
	position: relative;
	flex-direction: column;
	width: 80%;
	border: 1px solid green;
	margin: 20px auto;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	animation-name: slide;
    animation-duration: 0.4s
}

#close-btn {
	width: 120px;
	background-color: ;
	font-size: 25px!important;
	margin-top: 5px;
}

#modal-head {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.book-selection {
	margin-left: 10%;
}

#dash-spacing {
	background-color: #ebeef4;
	height: 200px; /* must equal height of #footer */
	border-radius: 10px;
}
#dash-footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
    position: relative;
    bottom:0px;
    width: 100%;
    margin: 0;
    background-color: #a9a9a9;
    height: 60px; /* height must equal height in #spacing div */
    border-radius: 5px;
}

#footer-txt {
	font-size: 20px;
	color: blue;
	text-align: center;
}

@keyframes slide {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

